<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/prd1nfs.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tasks for {{ .month }}/{{ .day }}</title>
</head>
<body>
<main class="wrap">
    <header class="mainHeader mainHeader-index">
        <h1 class="mainHeader_title unitDate">
            <span class="unitDate_month">{{ .month }}</span>
            <span class="unitDate_slash">/</span>
            <span class="unitDate_day">{{ .day }}</span>
        </h1>
        <nav class="navGlobal">
            <ul class="listNavGlobal">
                <li class="listNavGlobal_item"><a href="list_did.html">Did</a></li>
                <li class="listNavGlobal_item listNavGlobal_item-current"><a href="/">Today</a></li>
                <li class="listNavGlobal_item"><a href="list_have_to.html">Have To Do</a></li>
            </ul>
        </nav>
        <nav class="navPrevNext">
            <ol class="listPrevNext">
                <li class="listPrevNext_item listPrevNext_item-prev"><a href="#">&lt;</a></li>
                <li class="listPrevNext_item listPrevNext_item-next"><a href="#">&gt;</a></li>
            </ol>
        </nav>
    </header>
    <div class="mainContainer">
        <section class="secListMember secListMember-did">
            <h2 class="secListMember_title">Did</h2>
            <ul class="secListMember_list listMember">
                {{ range .did }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section class="secListMember secListMember-haveto">
            <h2 class="secListMember_title">Have To Do</h2>
            <ul class="secListMember_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
    </div>
</main>
<script src="/js/scripts.js"></script>
</body>
</html>
