<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/prd1nfs.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Did</title>
</head>
<body>
<main class="wrap">
    <header class="mainHeader mainHeader-list">
        <h1 class="mainHeader_title">Did</h1>
        <nav class="navGlobal">
            <ul class="listNavGlobal">
                <li class="listNavGlobal_item listNavGlobal_item-current"><a href="list_did.html">Did</a></li>
                <li class="listNavGlobal_item"><a href="/">Today</a></li>
                <li class="listNavGlobal_item"><a href="list_have_to.html">Have To Do</a></li>
            </ul>
        </nav>
        <nav class="navDateSelector">
            <div class="formCalendar">
                <label for="datePicker">jump:</label>
                <input type="date" id="datePicker" name="trip-start" value="2024-04-15" min="2024-04-15" max="2024-06-15" />
            </div>
        </nav>
    </header>
    <div class="mainContainer">
        <div class="wrapListData">
            <section id="anc2024-04-15" class="secListData">
                <h2 class="secListData_date">04/15<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-16" class="secListData">
                <h2 class="secListData_date">04/16<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-17" class="secListData">
                <h2 class="secListData_date">04/17<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-18" class="secListData">
                <h2 class="secListData_date">04/18<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-19" class="secListData">
                <h2 class="secListData_date">04/19<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-20" class="secListData">
                <h2 class="secListData_date secListData_date-sat">04/20<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-21" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">04/21<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-22" class="secListData">
                <h2 class="secListData_date">04/22<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-23" class="secListData">
                <h2 class="secListData_date">04/23<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-24" class="secListData">
                <h2 class="secListData_date">04/24<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-25" class="secListData">
                <h2 class="secListData_date">04/25<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-26" class="secListData">
                <h2 class="secListData_date">04/26<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-27" class="secListData">
                <h2 class="secListData_date secListData_date-sat">04/27<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-28" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">04/28<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-29" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">04/29<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-04-30" class="secListData">
                <h2 class="secListData_date">04/30<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-01" class="secListData">
                <h2 class="secListData_date">05/01<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-02" class="secListData">
                <h2 class="secListData_date">05/02<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-03" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/03<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-04" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/04<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-05" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/05<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-06" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/06<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-07" class="secListData">
                <h2 class="secListData_date">05/07<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-08" class="secListData">
                <h2 class="secListData_date">05/08<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-09" class="secListData">
                <h2 class="secListData_date">05/09<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-10" class="secListData">
                <h2 class="secListData_date">05/10<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-11" class="secListData">
                <h2 class="secListData_date secListData_date-sat">05/11<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-12" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/12<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-13" class="secListData">
                <h2 class="secListData_date">05/13<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-14" class="secListData">
                <h2 class="secListData_date">05/14<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-15" class="secListData">
                <h2 class="secListData_date">05/15<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-16" class="secListData">
                <h2 class="secListData_date">05/16<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-17" class="secListData">
                <h2 class="secListData_date">05/17<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-18" class="secListData">
                <h2 class="secListData_date secListData_date-sat">05/18<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-19" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/19<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-20" class="secListData">
                <h2 class="secListData_date">05/20<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-21" class="secListData">
                <h2 class="secListData_date">05/21<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-22" class="secListData">
                <h2 class="secListData_date">05/22<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-23" class="secListData">
                <h2 class="secListData_date">05/23<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-24" class="secListData">
                <h2 class="secListData_date">05/24<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-25" class="secListData">
                <h2 class="secListData_date secListData_date-sat">05/25<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-26" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">05/26<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-27" class="secListData">
                <h2 class="secListData_date">05/27<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-28" class="secListData">
                <h2 class="secListData_date">05/28<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-29" class="secListData">
                <h2 class="secListData_date">05/29<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-30" class="secListData">
                <h2 class="secListData_date">05/30<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-05-31" class="secListData">
                <h2 class="secListData_date">05/31<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-01" class="secListData">
                <h2 class="secListData_date secListData_date-sat">06/01<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-02" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">06/02<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-03" class="secListData">
                <h2 class="secListData_date">06/03<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-04" class="secListData">
                <h2 class="secListData_date">06/04<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-05" class="secListData">
                <h2 class="secListData_date">06/05<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-06" class="secListData">
                <h2 class="secListData_date">06/06<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-07" class="secListData">
                <h2 class="secListData_date">06/07<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-08" class="secListData">
                <h2 class="secListData_date secListData_date-sat">06/08<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-09" class="secListData">
                <h2 class="secListData_date secListData_date-holiday">06/09<span class="week">(sun)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-10" class="secListData">
                <h2 class="secListData_date">06/10<span class="week">(mon)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-11" class="secListData">
                <h2 class="secListData_date">06/11<span class="week">(tue)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-12" class="secListData">
                <h2 class="secListData_date">06/12<span class="week">(wed)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-13" class="secListData">
                <h2 class="secListData_date">06/13<span class="week">(thu)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-14" class="secListData">
                <h2 class="secListData_date">06/14<span class="week">(fri)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section id="anc2024-06-15" class="secListData">
                <h2 class="secListData_date secListData_date-sat">06/15<span class="week">(sat)</span></h2>
                <ul class="secListData_list listMember">
                    {{ range .did }}
                    <li class="listMember_item">{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
        </div>
    </div>
</main>
<script src="/js/scripts.js"></script>
</body>
</html>
