<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/prd1nfs.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>[list]Have To Do</title>
</head>
<body>
<main class="wrap">
    <header class="mainHeader">
        <h1 class="mainHeader_title">[list]Have To Do</h1>
        <nav class="navGlobal">
            <ul class="listNavGlobal">
                <li class="listNavGlobal_item"><a href="/">Today</a></li>
                <li class="listNavGlobal_item"><a href="list_did.html">[list]Did</a></li>
                <li class="listNavGlobal_item"><a href="list_have_to.html">[list]Have To Do</a></li>
            </ul>
        </nav>
        <nav class="navDateSelector">
            <div class="formCalendar">
                <label for="calendar2">jump:</label>
                <input type="date" id="calendar2" name="trip-start" value="2024-04-15" min="2024-04-01" max="2024-06-30" />
            </div>
        </nav>
    </header>
    <div class="mainContainer">
        <section id="anc20240415" class="secListData">
            <h2 class="secListData_date">04/15<span class="week">(mon)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240416" class="secListData">
            <h2 class="secListData_date">04/16<span class="week">(tue)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240417" class="secListData">
            <h2 class="secListData_date">04/17<span class="week">(wed)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240418" class="secListData">
            <h2 class="secListData_date">04/18<span class="week">(thu)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240419" class="secListData">
            <h2 class="secListData_date">04/19<span class="week">(fri)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240420" class="secListData">
            <h2 class="secListData_date secListData_date-sat">04/20<span class="week">(sat)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240421" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">04/21<span class="week">(sun)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240422" class="secListData">
            <h2 class="secListData_date">04/22<span class="week">(mon)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240423" class="secListData">
            <h2 class="secListData_date">04/23<span class="week">(tue)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240424" class="secListData">
            <h2 class="secListData_date">04/24<span class="week">(wed)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240425" class="secListData">
            <h2 class="secListData_date">04/25<span class="week">(thu)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240426" class="secListData">
            <h2 class="secListData_date">04/26<span class="week">(fri)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240427" class="secListData">
            <h2 class="secListData_date secListData_date-sat">04/27<span class="week">(sat)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240428" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">04/28<span class="week">(sun)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240429" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">04/29<span class="week">(mon)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240430" class="secListData">
            <h2 class="secListData_date">04/30<span class="week">(tue)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240501" class="secListData">
            <h2 class="secListData_date">05/01<span class="week">(wed)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240502" class="secListData">
            <h2 class="secListData_date">05/02<span class="week">(thu)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240503" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">05/03<span class="week">(fri)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240504" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">05/04<span class="week">(sat)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240505" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">05/05<span class="week">(sun)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240506" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">05/06<span class="week">(mon)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240507" class="secListData">
            <h2 class="secListData_date">05/07<span class="week">(tue)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240508" class="secListData">
            <h2 class="secListData_date">05/08<span class="week">(wed)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240509" class="secListData">
            <h2 class="secListData_date">05/09<span class="week">(thu)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240510" class="secListData">
            <h2 class="secListData_date">05/10<span class="week">(fri)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240511" class="secListData">
            <h2 class="secListData_date secListData_date-sat">05/11<span class="week">(sat)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
        <section id="anc20240512" class="secListData">
            <h2 class="secListData_date secListData_date-holiday">05/12<span class="week">(sun)</span></h2>
            <ul class="secListData_list listMember">
                {{ range .haveto }}
                <li class="listMember_item">{{ . }}</li>
                {{ end }}
            </ul>
        </section>
    </div>
</main>
</body>
</html>
